<div class="container-fluid mb-5">
  <h1>Bootsrap Enrollment Form</h1>
  <div class="alert alert-danger" *ngIf="errorMessage">
    something went wrong
  </div>
  <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <!-- <strong>user Form Value</strong>{{userForm.value| json}}
<br/>
    <strong>user Form Model</strong>{{userModel | json}} -->

    <div class="form-group">
      <label>Name</label>
      <input type="text" required #name="ngModel"
       [class.is-invalid]="name.invalid && name.touched" 
        class="form-control" name="name" [(ngModel)]="userModel.name">
      <!-- <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required!</small> -->
      <span class="text-danger" *ngIf="(name.touched || userForm.submitted) && name.errors?.['required']">
        Email is required
      </span>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" [class.is-invalid]="email.invalid && email.touched" #email="ngModel" required email class="form-control" name="email" [(ngModel)]="userModel.email">
      <span class="text-danger" *ngIf="(email.touched || userForm.submitted) && email.errors?.['required']">
        Email is required
      </span>
      <span class="text-danger" *ngIf="email.touched && email.errors?.['email']">
        Enter a valid email address
      </span>
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="tel" [class.is-invalid]="phone.invalid && phone.touched" #phone="ngModel"required pattern="^((\\+91-?)|0)?[0-9]{10}$"
       class="form-control" name="phone" [(ngModel)]="userModel.phone">
      <span class="text-danger" *ngIf="(phone.touched || userForm.submitted) && phone.errors?.['required']">
        Phone number is required
      </span>
      <span class="text-danger" *ngIf="phone.touched && phone.errors?.['pattern']">
        Phone number must be 10 digits
      </span>
    </div>

    <div class="form-group mt-3">
      <select [class.is-invalid]="topicHasError && topic.touched" (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" #topic="ngModel" class="form-control mb-3" name="topic" [(ngModel)]="userModel.topic">
        <option value="default"> I am interested in</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
      <small class="text-danger" [class.d-none]="topic.untouched || !topicHasError">
        Please choose a topic
      </small>
    </div>

    <div class="mb-3">
      <label>Time Preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
        <label class="form-check-label">Morning (9AM - 12 PM)</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
        <label class="form-check-label">Evening (5PM -  8PM)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" name="subscribe" [(ngModel)]="userModel.subscribe">
      <label class="form-check-label"> Send me promotional offers</label>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="userForm.form.invalid || topicHasError">Submit form</button>

  </form>
</div>